html {
    scroll-behavior: smooth;
    color: #333;
    font-size: 14px;
}

ul{
    list-style-type: none;
    padding-left: 20px;
}

ul li{margin-bottom:6px;}

a {
    color: #222;
    text-decoration: none;
}
  
@font-face {
    font-family: "nunito";
    src: url("../font/nunito/Nunito Regular.ttf");
}

@font-face {
    font-family: "arapey";
    src: url("../font/arapey/Arapey-Regular.ttf");
}

body{
    margin: 0;
    font-family: "nunito", Calibri, Cambria, Arial, Helvetica, sans-serif;
}

/*div{
    overflow:auto;
}*/

.section:first-child{
    min-height: 100vh;
    overflow: auto;
}

.section:not(#section-1){
    padding: 20px 0;
}

.section .section-sub{
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 980px;
}


.section-title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center
}

#section-1 #background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    -webkit-animation: appear 2s;
    animation: appear 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition: background-image 1s ease-in-out, opacity 2s ease-in-out;
}

#background-image-link{
    z-index: 9;
    position: absolute;
    bottom: 0;
    background-color: #231f1f5e;
    padding: 3px 5px;
    right: 0;
    color: white;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

#background-image-link a{
    color: #fff;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#section-1 #overlay-home{
    background-color: #3d4671;
    /*background-image: linear-gradient(to bottom left, #ec4747, #3d4671 72%);*/
    opacity: 0.5;
    z-index: 2;
}

#section-1 #name-container{
    color: white;
    position: relative;
    width: 30%;
    min-width: 230px;
    margin: auto;
    text-align: center;
    top: 30px;
    z-index: 5;
}

#name{
    font-size: 45px;
    font-weight: bold;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}

#resume{
    font-size: 18px;
}

.section:nth-child(odd) {
    background: white;
  }
  
.section:nth-child(even) {
    background: #eee;
  }


#profile-info{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#contact-name-position{
    margin-bottom: 25px;
}

#contact-detail{
    background-color: #7983b0;
    color: #222;
    height: 235px;;
    padding: 10px 20px;
}

.icon-container{
    margin-right: 10px;
}

.icon-container img{
    max-height: 20px;
    max-width: 20px;
    display: flex;
    align-items: center;
}

#contact-info ul li{
    display: flex;
}

#contact-info a{
    display: flex;
    align-items: center;
}

#contact-info li{
    margin-bottom: 9px;
}

#contact-name{
    font-size: 28px;
}

#contact-position{
    font-style: italic;
    font-size: 16px;
}

#profile-photo img{
    height: 255px;
}

#profile-desc{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: justify;
}

#border-separator{
    width: 0;
    height: 0;
    border-bottom: 255px solid #7983b0;
    border-right: 50px solid transparent;
    position: absolute;
}

#time-line-container{
    background-color: #444;
    opacity: 0.8;
    width: 95%;
    margin: auto;
    height: 200px;
}

#line-graph-container{
    height: 10px;
    width: 100%;
    background-color: black;
    display: flex;
    overflow: initial;
}

.experience-period{
    transition: transform .2s; /* Animation */
    cursor: pointer;
}

.experience-period:hover, .experience-period:active{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border: 1px solid #444;
}

#section-3 a{
    color: #428bca;
}

#menu{
    position: fixed;
    display: flex;
    right: 25px;
    top: 15px;
    background-color: #444;
    color: white;
    opacity: 0.9;
    max-height: 180px;
    /*width: 130px;*/
    /*padding: 2px 5px;*/
    border-radius: 3px;
    z-index: 10;
}

/*#menu-sections{
    margin: 2px;
}*/

.menu-section{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-section.active .menu-title, .menu-section.active .round-indicator-container{
    opacity: 1;
}
.menu-section:hover .menu-title, .menu-section:hover .round-indicator-container, .menu-section:active .menu-title, .menu-section:active .round-indicator-container{
    opacity: 0.8;
}

.menu-section.active .round-indicator{
    background-color: white;
}

.menu-title{
    margin-right: 7px;
    padding: 2px 7px 2px 10px;
    width: 70px;
    text-align: right;
    opacity: .5;
}

.round-indicator-container{
    padding-right: 5px;
    opacity: .5;
}

#space-indicator-container{
    position: fixed;
    display: flex;
    right: 15px;
    bottom: 15px;
    background-color: #444;
    opacity: 0.8;
    max-height: 180px;
    width: 40px;
    border-radius: 3px;
}
#space-indicator{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.round-indicator{
    width: 8px;
    height: 8px;
    border-radius: 6px;
    border: 2px solid white;
    cursor: pointer;
    background-color: inherit;
    margin: 1px 0;
    
}

#experience-overview{
    display: flex;
    width: 400px;
    height: 250px;
}

#experience-image{
    height: 100%;
    width: 40%;
}

#experience-information{
    height: 100%;
    width: 60%
}

.experience-detail{
    display: flex;
    justify-content: space-around;
    /*padding: 10px 20px;*/
    margin: 10px 0;
    min-height: 170px;
}

.experience-detail::before {
    opacity: .4; 
  }

.experience-detail-photo{
    width: 30%;
    min-width: 200px;
    padding: 30px 0;
}

.experience-detail-photo-container{
    text-align: center;
}

.experience-detail-photo-container img{
    max-height: 90px;
    max-width: 70%;
}

.experience-detail-information{
    width: 50%;
    min-width: 480px;
}

.experience-detail-name{
    margin: auto;
    /*text-align: center;
    font-weight: bold;*/
    font-size: 1.4rem;
    color: #678;
}

.experience-detail-information-box div{
    margin: 4px auto;
    text-align: justify;
}

.experience-detail-information-box .experience-detail-location{
    font-style: italic;
}

.experience-detail-information-box .experience-detail-dates{
    color: #5e9516;
}

.rating-sections{
    display: flex;
    justify-content: space-around;
}

.rating-line{
    width: 260px;
    color: #475563;
    /*height: 19px;*/
    overflow: hidden;
    /*font-weight: bold;*/
}
.rating-item-container{
    padding: 0 5px;
}

.rating-line:hover .rating-item-container, .rating-line:active .rating-item-container{
    background-color: #ccc;
}

.rating-line .rating-desc{
    max-height: 0px;
    -webkit-transition:  max-height 1s cubic-bezier(0, 0, 0.2, 1);
    -moz-transition:  max-height 1s cubic-bezier(0, 0, 0.2, 1);
    -o-transition:  max-height 1s cubic-bezier(0, 0, 0.2, 1);
    transition:  max-height 1s cubic-bezier(0, 0, 0.2, 1);
    font-size: 11px;
    font-style: italic;
    padding: 0 5px;
    text-align: justify;
}

.rating-line:hover .rating-desc, .rating-line:active .rating-desc{
    max-height: 100px;
}

.rating-item{
    width: 8px;
    height: 8px;
    border-radius: 6px;
    border: 2px solid #475563;
    cursor: pointer;
    background-color: inherit;
    margin: 1px 0;
    display: flex;
}

.rating-item-line{
    display: flex;
    justify-content: space-around;
    width: 70px;
    float: right;
    height: 19px;
    align-items: center;
}

.rating-item-first, .rating-item-second{
    width: 50%;
    height: 100%;
}

.rating-item-first.active, .rating-item-second.active{
    background-color: #475563;
}

.rating-title{
    text-align: center;
    padding: 10px 0;
    font-size: 1.6rem;
    color: #475563;
}

#projects-container{
    text-align: center;
}

.project{
    width: 200px;
    margin: 15px 25px;
    height: 230px;
    position: relative;
    /*background-color: #428bca;*/
    display: inline-block;
    width: 371px;
    overflow: hidden; 
}

.project-inner{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
    background-position: center;
    background-size: cover;
}

.overlay-project{
    background-color: #3d4671;
    opacity: 0.7;
    transition: opacity 500ms ease-in-out;
}

.project-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #eee;
}

.project-info .project-date, .project-info .project-techno{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-info .project-desc{
    text-align: justify;
    overflow: inherit;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.project-content div:nth-child(1), .project-content div:nth-child(2){
    text-align: left;
    padding: 2px 8px;
}

.project-top{
    font-size: 1.4rem;;
}

.project-info{
    transform: translate3d(100%,0,0);
    transition: all 500ms ease-in-out;
}

.project:hover .project-info, .project:active .project-info{
    transform: translate3d(0,0,0);
}

.project:hover .project-inner, .project:active .project-inner{
    transform: scale(1.2);
}

.project:hover .overlay-project, .project:active .overlay-project{
    opacity: 0.95;
}

.project-info div{
    padding: 2px 8px;
}

.project-links{
    position: absolute;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;	
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    margin-bottom: 15px;
    transform: translate3d(100%,0,0);
    transition: all 500ms ease-in-out;
}

.project:hover .project-links, .project:active .project-links{
    transform: translate3d(0,0,0);
}

.project-links-button-container{
    display: flex;
    justify-content: space-around;
}

.project-links-button-container a{
    width: 32%;
    border: 1px #ffffff solid;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 3px;
    text-align: center;
    padding: 4px 6px;
    cursor: pointer;
}

.project-links-button-container a:hover, .project-links-button-container a:active{
    color: #3d4671;
    border-color: #3d4671;
    background-color: #fff;
}

#button-container{
    width: 20%;
    min-width: 160px;
    margin: auto;
    text-align: center;
    height: 120px;
    display: flex;
    align-items: center;
}

#button-container a{
    width: 200px;
    border: 1px #3d4671 solid;
    color: #3d4671;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 3px;
    padding: 10px 15px;
}

#button-container a:hover, #button-container a:active{
    color: white;
    border-color: white;
    background-color: #3d4671;
}

#footer{
    width: 100%;
    height: 40px;
    background-color: #3d4671;
    color: white;
    display: flex;
    align-items: center;
}

#footer-container{
    margin: auto;
}

@media only screen and (max-width: 1299px) and (min-width: 1000px){
    .section .section-sub{
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: 944px;
    }
}


@media only screen and (max-width: 1028px) and (min-width: 800px){
    .section .section-sub{
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: auto;
        padding: 0 30px;
    }
    .experience-detail-photo {
        width: 25%;
    }
    .experience-detail-information {
        width: 65%;
        min-width: 480px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 660px){
    html #menu{
        display: none;
    }

    .section .section-sub{
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: auto;
        padding: 0 30px;
    }

    .experience-detail {
        display: block;
    }

    .experience-detail-photo {
        margin: auto;
    }

    .experience-detail-information {
        text-align: center;
        margin: auto;
    }

    .experience-detail-information-box .experience-detail-location,
    .experience-detail-information-box .experience-detail-dates {
        text-align: center;
    }
}

@media only screen and (max-width: 660px) and (min-width: 520px){
    html {
        font-size: 12px;
    }
    html #menu{
        display: none;
    }

    #background-image{
        background-image: url("../img/background-nyc.jpg") !important;
        background-position: center !important;
    }

    #background-image-link{
        visibility: hidden;
        opacity: 0;
    }

    .section .section-sub{
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: auto;
        padding: 0 30px;
    }

    #contact-detail {
        padding: 4px 10px;
        font-size: 12px;
    }

    #border-separator {
        border-bottom: 243px solid #7983b0;
        border-right: 35px solid transparent;
    }

    #profile-photo img {
        height: 243px;
    }

    #profile-info {
        margin-top: 20px;
        width: 441px;
    }

    .experience-detail {
        display: block;
    }

    .experience-detail-photo {
        margin: auto;
    }

    .experience-detail-information {
        text-align: center;
        margin: auto;
    }

    .experience-detail-information-box .experience-detail-location,
    .experience-detail-information-box .experience-detail-dates {
        text-align: center;
    }

    .rating-sections{
        display: block;
    }

    .rating-sections ul{
        width: 60%;
        margin: auto;
        width: -webkit-fill-available;
    }

    .rating-line {
        margin: auto;
    }

    .experience-detail-information {
        width: auto;
        min-width: auto;
    }

    .project{
        width: -webkit-fill-available;
        height: 190px;
    }
}

@media only screen and (max-width: 520px) and (min-width: 400px){
    html {
        font-size: 11px;
    }
    html #menu{
        display: none;
    }

    #background-image{
        background-image: url("../img/background-nyc.jpg") !important;
        background-position: center !important;
    }

    #background-image-link{
        visibility: hidden;
        opacity: 0;
    }

    .section .section-sub{
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: auto;
        padding: 0 30px;
    }

    #contact-name-position{
        margin-bottom: 10px;
    }

    #contact-detail {
        padding: 2px 0px 2px 4px;
        font-size: 10px;
        height: 190px;
    }

    #contact-info ul{
        padding-left: 8px;
    }

    #contact-name {
        font-size: 21px;
    }

    #contact-position {
        font-size: 14px;
    }
    #border-separator {
        border-bottom: 194px solid #7983b0;
        border-right: 15px solid transparent;
    }

    #profile-photo img {
        height: 194px;
    }

    #profile-info {
        margin-top: 20px;
        width: 340px;
    }

    .icon-container img {
        max-height: 16px;
        max-width: 16px;
    }

    .experience-detail {
        display: block;
    }

    .experience-detail-photo {
        margin: auto;
    }

    .experience-detail-information {
        text-align: center;
        margin: auto;
    }

    .experience-detail-information-box .experience-detail-location,
    .experience-detail-information-box .experience-detail-dates {
        text-align: center;
    }

    .rating-sections{
        display: block;
    }

    .rating-sections ul{
        width: 60%;
        margin: auto;
        width: -webkit-fill-available;
    }

    .rating-line {
        margin: auto;
        height: 17px;
    }

    .rating-item{
        width: 7px;
        height: 7px;
    }

    .rating-item-line{
        height: 17px;
    }

    .experience-detail-information {
        width: auto;
        min-width: auto;
    }

    .project{
        width: -webkit-fill-available;
        height: 220px;
    }
}

@media only screen and (max-width: 400px){
    html {
        font-size: 10px;
    }

    html #menu{
        display: none;
    }

    #background-image{
        background-image: url("../img/background-nyc.jpg") !important;
        background-position: center !important;
    }

    #background-image-link{
        visibility: hidden;
        opacity: 0;
    }

    #section-1 #name-container {
        width: -webkit-fill-available;
        padding: 0 11px;
    }

    .section .section-sub{
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: auto;
        padding: 0 10px;
    }

    #contact-name-position{
        margin-bottom: 10px;
    }

    #contact-detail {
        padding: 2px 0px 2px 4px;
        font-size: 9px;
        height: 157px;
    }

    #contact-info ul{
        padding-left: 2px;
    }

    #contact-name {
        font-size: 19px;
    }

    #contact-position {
        font-size: 11px;
    }
    #border-separator {
        border-bottom: 161px solid #7983b0;
        border-right: 15px solid transparent;
    }

    #profile-photo img {
        height: 161px;
    }

    #profile-info {
        margin-top: 20px;
        width: 289px;
    }

    .icon-container img {
        max-height: 10px;
        max-width: 10px;
    }

    .experience-detail {
        display: block;
    }

    .experience-detail-photo {
        margin: auto;
    }

    .experience-detail-information {
        text-align: center;
        margin: auto;
    }

    .experience-detail-information-box .experience-detail-location,
    .experience-detail-information-box .experience-detail-dates {
        text-align: center;
    }

    .rating-item{
        width: 6px;
        height: 6px;
    }

    .rating-line {
        margin: auto;
        height: 16px;
    }

    .rating-item-line{
        height: 16px;
    }

    .rating-sections{
        display: block;
    }

    .rating-sections ul{
        width: 60%;
        margin: auto;
        width: -webkit-fill-available;
        padding-left: 0;
    }

    .experience-detail-information {
        width: auto;
        min-width: auto;
    }

    .project{
        width: -webkit-fill-available;
        height: 190px;
    }
}
